body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.inpt1{
    font: arial;
    font-size: 12px;
    background-color: burlywood;
}

.inpt2{
    font: arial;
    font-size: 12px;
    background-color: burlywood;
}

.btn{
    background-color: cadetblue;
}